.nav {
  background: green;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left {
  padding-left: 200px;
  padding-top: 8px;
}


.right {
  padding-right:200px;
}
.right li {
  display: inline;
  padding: 8px;
}